streamlit
openai
langchain
chromadb
pysqlite3-binary
pypdf
tiktoken
streamlit-feedback
langsmith
langchain-core
langchain-community
numpy
uuid
decouple
streamlit_extras
streamlit_authenticator
yaml
streamlit_feedback
